<!DOCTYPE html>
<html>
<head>
    <title>Just a few Questions</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <div class="centered">
    <div class="title centered">{{ user }}, please fill in a few questions to help make a selection.</div>
    <form action="/food">

        Do you want a vegetarian meal? 
        <br>
        <input type="radio" name="vegetarian" value="yes">Yes Please
        <input type="radio" name="vegetarian" value="no">No, I love eating animals. 
        <br>
        <br>
        <input type="submit">
    </form>
</div>
</body>
</html>
